@import "tailwindcss";

:root {
  --background: #f0eee6;
  --foreground: #171717;
  --primary: #d97757;
}

@font-face {
  font-family: 'Sunset-Serial';
  src: url('/fonts/Sunset-Serial Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-libre-baskerville: var(--font-libre-baskerville);
  --font-sunset-serial: 'Sunset-Serial', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0eee6;
    --foreground: #171717;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-libre-baskerville), serif;
}
